# Dependências
node_modules/

# Build
dist/

# Variáveis de ambiente
.env

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

/bootcamp-treinos-api

/src (1)

src_preview